.breadcrum {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
    padding: 10px;
    font-size: 16px;
    color: #333; /* Dark text color */
    background-color: #f5f5f5; /* Light background color */
    border-radius: 5px; /* Rounded corners */
    padding-left: 100px;
    padding-top: 8px;
    font-weight: bold;
}

.breadcrum img {
    width: 10px; /* Adjust arrow icon size */
}

/* Optional: Add hover effect */
.breadcrum:hover {
    background-color: #e0e0e0; /* Lighter background on hover */
}

@media(max-width:1024px){
    .breadcrum{
        margin: 30px 8%;
    }
}
@media(max-width:800px){
    .breadcrum{
        margin: 20px 5%;
    }
}
